<div class = content>
<h1>Welcome to CSE motors</h1>
<div class = "hero-grid">
    <img class = "img-background" src="images/vehicles/delorean.jpg" alt="">
    <div class = "info">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 cup holders</li>
            <li>superman doors</li>
            <li>Fuzzy dice!</li>
            <li><img id = "own-today" src="/images/site/own_today.png" alt="own_today"></li>
        </ul>
    </div>
</div>
<div class = "items">
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-grid">
            <div class="upgrade">
                <div><img src="images/upgrades/flux-cap.png" alt="Flux Capacitor"></div>
                <a href="">Flux Capacitor</a>
            </div>
            <div class="upgrade">
                <div><img src="images/upgrades/flame.jpg" alt="Flame Decals"></div>
                <a href="">Flame Decals</a>
            </div>
            <div class="upgrade">
                <div><img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"></div>
                <a href="">Bumper Stickers</a>
            </div>
            <div class="upgrade">
                <div><img src="images/upgrades/hub-cap.jpg" alt="Hub Caps"></div>
                <a href="">Hub Caps</a>
            </div>
        </div>
    </div>
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</div>
</div>